<main class="container">
    <h2>Farmacêuticos</h2>
  
    <a routerLink="/farmaceuticos/novo" class="btn btn-primary">Novo</a>
  
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Especialidade</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of listaFarmaceuticos">
          <td>{{ f.nome }}</td>
          <td>{{ f.especialidade }}</td>
          <td>{{ f.telefone }}</td>
          <td>
            <button (click)="alterar(f)" class="btn btn-secondary">Alterar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  