<main class="container">
    <h2>Operadores</h2>

    <a routerLink="/Operadoresnovo">Novo</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umOperadorCaixa of listaOperadoresCaixa">
                <td>{{umOperadorCaixa.nome}}</td>
                <td>{{umOperadorCaixa.matricula}}</td>
            </tr>
        </tbody>

    </table>
</main>