<main class="container">
    <h2>Clientes</h2>

    <a routerLink="/clientes/novo">Novo</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Endereço</th>
                <th>Telefone</th>
                <th>E-mail</th>
                <th>Data Nascimento</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umCliente of listaClientes">
                <td>{{umCliente.nome}}</td>
                <td>{{umCliente.endereco}}</td>
                <td>{{umCliente.telefone}}</td>
                <td>{{umCliente.email}}</td>
                <td>{{umCliente.dataNascimento}}</td>

                <th><a (click)="alterar(umCliente)"
                class="btn btn btn-secondary">Alterar</a></th>
            </tr>
        </tbody>

    </table>
</main>